/* Default attributes of table container for entire calendar */
.jscalendar-WH-table-style {
    font-family:arial;
    font-size:11px;
    border-width:1;
    border-style:solid;
    border-color:#000000;
    color:#000000;
	background-color: #ffffff;
}

/* Default attributes of DIV containing table container for entire calendar.
 * You probably don't want to alter this style.
 */
.jscalendar-WH-div-style {
	z-index: +999;
	position: absolute;
	visibility: hidden;
}

/* Default attributes used in calendar title (month and year columns).*/
.jscalendar-WH-title-style {
    padding:2px;
    font-family:arial;
    font-size:11px;
    font-weight:bold;
    color:#000000;
}

/* Default attributes used in calendar title background.*/
.jscalendar-WH-title-background-style {
	background-color: #EEEEEE;
}

/* Normal appearance of controls in calendar title. */
/* Note: The right, left and down icons are images, jscalendar-WHich must be edited if you need to change them. */
.jscalendar-WH-title-control-normal-style {
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	cursor: pointer;
}

/* Moused-over (selected) appearance of controls in calendar title. */
.jscalendar-WH-title-control-select-style {
	border-style: solid;
	border-width: 1;
	border-color: #FFFFFF;
	cursor: pointer;
}

/* Default attributes of drop down lists (month and year). */
.jscalendar-WH-dropdown-style {
	font-family: arial;
	font-size: 11px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: #EEEEEE;
	cursor: pointer;
}

/* Default attributes selected (mouse-over) item in drop down lists (month and year). */
.jscalendar-WH-dropdown-select-style {
	background-color: #F3F3F3;
}

/* Default attributes unselected (mouse-off) item in drop down lists (month and year). */
.jscalendar-WH-dropdown-normal-style {
	background-color: #0;
}

/* Default attributes of calendar body (weekday titles and numbers). */
.jscalendar-WH-body-style {
	background-color: #FFFFFF;
	font-family: verdana;
	font-size: 10px;
}

/* Attributes of current day in calendar body. */
.jscalendar-WH-current-day-style {
	color: red;
	font-weight: bold;
	text-decoration: none;
}

/* Attributes of end-of-week days (Sundays) in calendar body. */
.jscalendar-WH-end-of-weekday-style {
	color: #909090;
	text-decoration: none;
}

/* Attributes of all other days in calendar body. */
.jscalendar-WH-normal-day-style {
	color: black;
	text-decoration: none;
}

.jscalendar-WH-would-be-selected-day-style {
	background-color: #EEEEEE;
}

/* Attributes of border around selected day in calendar body. */
.jscalendar-WH-selected-day-style {
	border-style: solid;
	border-width: 1px;
	border-color: #a0a0a0;
}

/* Default attributes of designated holidays. */
.jscalendar-WH-holiday-style {
	background-color: #FFDDDD;
}

/* Attributes of today display at bottom on calendar */
.jscalendar-WH-today-style {
	padding: 0px;
	color: black;
	background-color: #f0f0f0;
	text-align: center;
	text-decoration: none;
}

/* Attributes of today display label at bottom on calendar */
.jscalendar-WH-today-lbl-style {
	padding: 5px;
	text-align: center;
}

/* Attributes of week number division (divider.gif) */
.jscalendar-WH-weeknumber-div-style {
	background-color: #d0d0d0;
	padding: 0px;
}
